html, body, #window {
    width: 100%;
    height: 100%;
}

.woo_man {
    position: absolute;
    z-index: -1;
}

.flyin { 
  animation: flyin 1.2s ease forwards;
  opacity: 0;
  transform: scale(2);
  filter: blur(4px);
}

@keyframes flyin {
   to { 
     filter: blur(0);
     transform: scale(1);
     opacity: 1;
   }
}

.slide-left {
    position: absolute;
    transform: translateX(-500%);
    -webkit-transform: translateX(-500%);
    animation: slide-in 0.5s forwards;
    -webkit-animation: slide-in 0.5s forwards;
}

.slide-right {
    position: absolute;
    transform: translateX(500%);
    -webkit-transform: translateX(500%);
    animation: slide-in 0.5s forwards;
    -webkit-animation: slide-in 0.5s forwards;
}

@keyframes slide-in {
    100% { transform: translateX(0%); }
}

.slide-up {
    position: absolute;
    transform: translateY(500%);
    -webkit-transform: translateY(500%);
    animation: slide-in 0.5s forwards;
    -webkit-animation: slide-in 0.5s forwards;
}

.slide-down {
    position: absolute;
    transform: translateY(-500%);
    -webkit-transform: translateY(-500%);
    animation: slide-in 0.5s forwards;
    -webkit-animation: slide-in 0.5s forwards;
}

@keyframes slide-down {
    100% { transform: translateY(0%); }
}

.spin-left {
  -webkit-animation-name: spin;
  -webkit-animation-duration: 1200ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -o-transition: rotate(360deg);
}

@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}

.spin-right {
  -webkit-animation-name: spin-right;
  -webkit-animation-duration: 1200ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -o-transition: rotate(360deg);
}

@-webkit-keyframes spin-right {
    from { -webkit-transform: rotate(360deg); }
    to { -webkit-transform: rotate(0deg); }
}

.shake {
  animation: shake 1s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  -webkit-animation-iteration-count: infinite;
  backface-visibility: hidden;
  perspective: 1000px;
}

.grow {
  animation: createBox .5s;
}
@keyframes createBox {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@-webkit-keyframes shake {
   10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.stretch {
  animation: stretch 1s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  opacity: 1;
}

@-webkit-keyframes stretch {
    from {
        transform: scaleY(.8);
    }
    to {
        transform: scaleY(1.2);
    }
}

